# Power Management
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
# Power Management
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_PM_DFS_INIT_AUTO=y
# CPU frequency
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80=y
# BLE - solo NimBLE
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=n
# NimBLE sleep
CONFIG_BT_NIMBLE_SLEEP_ENABLE=y
# Halt en vez de reboot al panic
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y